<div class="main" id="Haikode"></div>
<div class="d-none d-md-block">
    <div class="row h-100 w-100">
        <div class=" align-content-center justify-content-center">
            <div class="txt-overlay col-12 col-lg-10 col-xl-10 col-main align-content-center justify-content-center hero">
                <div class="container">
                    <h1 class="display-4 text-center">Tecnología para todos</h1>
                    <p class="lead text-center">
                        Creemos que no solo las grandes empresas se deben beneficiar de la tecnología más avanzada. Existe un grán potencial en todos los individuos y empresas que todavía no cuentan con el mismo acceso tecnológico que las grandes compañías.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <video autoplay muted loop id="video-bg" poster="/assets/img/Manitas.png">
            <source src="/assets/vid/Manitas.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="d-block d-md-none">
    <div class="row row-poster h-100">
        <div class="txt-poster col-12 h-100 col-main align-content-center justify-content-center hero">
            <div class="container">
                <h1 class="display-4 text-center">Tecnología para todos</h1>
                <p class="lead text-center">
                    Creemos que no solo las grandes empresas se deben beneficiar de la tecnología más avanzada. Existe un grán potencial en todos los individuos y empresas que todavía no cuentan con el mismo acceso tecnológico que las grandes compañías.
                </p>
            </div>
        </div>
    </div>
</div>