<div class="row animated-bg hero">
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
    <div class="col-12 col-lg-10 col-xl-8 col-main align-content-center justify-content-center">
        <ngb-carousel class="carousel-fade">
            <ng-template ngbSlide>
                <div class="container-fluid transparent-bg">
                    <h2 class="minitron">Tecnología para todos</h2>
                    <p class="initron">Soluciones para personas, pequeñas y medianas empresas.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container-fluid transparent-bg">
                    <h2 class="minitron">Inclusión para el siglo XXI</h2>
                    <p class="initron">Acceso a software de calidad.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container-fluid transparent-bg">
                    <h2 class="minitron">Enfoque humano.</h2>
                    <p class="initron">Resolvemos problemas reales con perspectivas reales.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="container-fluid transparent-bg ">
                    <h2 class="minitron">Más que productos de software.</h2>
                    <p class="initron">Mejor calidad de vida, más felicidad, más rentabilidad.</p>
                </div>
            </ng-template>
        </ngb-carousel>

        <h5 class="text-center hero">
            Creemos que no solo las grandes empresas se deben beneficiar de la tecnología más avanzada. Existe un grán potencial en todos los individuos y empresas que todavía no cuentan con el mismo acceso tecnológico que las grandes compañías.
        </h5>
    </div>
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
</div>