<header>
    <div class="row justify-content-center fixed-top navbar center">
        <div class="d-none d-lg-flex col-md-1 col-lat no-gutters"></div>
        <div class="col-12 col-lg-10 col-main align-content-center justify-content-center">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <li class="d-flex d-sm-none center">
                    <a class="navbar-brand haikode animated-text center" href="/">HAIKODE</a>
                </li>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-around nav-ul">
                        <li>
                            <a class="nav-link header-txt" href="#soluciones">Soluciones</a>
                        </li>
                        <li>
                            <a class="nav-link header-txt" href="#proyectos">Proyectos</a>
                        </li>
                        <li class="d-none d-sm-flex">
                            <a class="navbar-brand haikode animated-text" href="#Haikode">HAIKODE</a>
                        </li>
                        <li>
                            <a class="nav-link header-txt" href="#nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a class="nav-link header-txt" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-none d-lg-flex col-md-1 col-lat no-gutters"></div>
    </div>
</header>