<div class="main" id="soluciones"></div>
<div class="row bg-row row-flex d-flex row-black align-items-stretch">
    <div class="col-12">
        <h1 class=" text-left">
            Enfoques multidiciplinarios para crear soluciones a la medida
        </h1>
        <p class="initron">
            Desde asesoría tecnológica, hasta aplicaciones avanzadas de ciencias computacionales. <br> Todos nuestros servicios son a la medida de cada cliente, y a su base de usuarios.
        </p>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg1">
                <h1 class="text-center"><i class="fa fa-flask card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title">Desarrollo de Producto</h3>
                <h5 class="card-text text-center">Productos escalables de principio a fin. Experiencias para usuarios web y móviles.</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg5">
                <h1 class="text-center"><i class="fa fa-cubes card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title">Arquitectura y Desarrollo de Plataformas</h3>
                <h5 class="card-text text-center">Productos desplegables y escalables en la nube, balanceo de carga, y otros servicios en la nube.</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg1">
                <h1 class="text-center"><i class="fa fa-compass card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title text-center">Estrategia de producto y UX</h3>
                <h5 class="card-text text-center">Diseño, prototipado, y pensamiento de diseño para productos.</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg5">
                <h1 class="text-center"><i class="fa fa-key card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title text-center">Consultoría Tecnológica para Negocios</h3>
                <h5 class="card-text text-center">Asesoría tecnológica para su negocio, mejores prácticas, y soluciones a la medida.</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg1">
                <h1 class="text-center"> <i class="fa fa-cloud card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title text-center">Servicios en la Nube</h3>
                <h5 class="card-text text-center">REST APIs, acceso a bases de datos y sistemas informáticos en la nube.</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg5">
                <h1 class="text-center"><i class="fa fa-magic card-super-title text-light" aria-hidden="true"></i></h1>
                <h3 class="card-title text-center">Soluciones Avanzadas</h3>
                <h5 class="card-text text-center">Optimización de software, algoritmos, inteligencia artificial, y más relacionadas con Ciencias Computacionales.</h5>
            </div>
        </div>
    </div>
</div>