<div class="row row-light">
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
    <div class="col-12 col-md-10 col-xl-8 col-main align-content-center justify-content-center">
        <div class="row">
            <div class="col-12 col-md-8 align-self-center h-100">
                <h3 class="text-center">
                    Inclusión Tecnológica
                </h3>
                <p class="text-justify">
                    Tenemos como misión crear productos de software de la más alta calidad, que sean accesibles para las personas y empresas. Nos enfocamos en los grupos comúnmente desatendidos y carentes de soluciones tecnológicas.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img src="/assets/img/ChicaConLaptop.svg" alt="Joven usando programas en una Laptop">
            </div>
        </div>
    </div>
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
</div>

<div class="row row-light">
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
    <div class="col-12 col-md-10 col-xl-8 col-main align-content-center justify-content-center">
        <div class="row">
            <div class="col-12 col-md-4 align-self-start">
                <img src="/assets/img/Equipo.svg" alt="Equipo reunido en una junta">
            </div>
            <div class="col-12 col-md-8 align-self-center h-100">
                <h3 class="text-center">
                    Informática De Alto Impacto
                </h3>
                <p class="text-justify">
                    Queremos lograr un ecosistema tecnológico incluyente para todas las personas. Creando servicios de alto impacto relacionados con la tecnología que liberen el potencial individual y social. Queremos desarrollar proyectos propios y para terceros que mejoren
                    la calidad de vida en todo América y el mundo.
                </p>
            </div>
        </div>
    </div>
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
</div>

<div class="row row-light">
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
    <div class="col-12 col-md-10 col-xl-8 col-main align-content-center justify-content-center">
        <div class="row">
            <div class="col-12 col-md-8 align-self-center h-100">
                <ngb-carousel class="carousel-fade">
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h2 class="initron dark-text">Somos:</h2>
                            <h3 class="minitron dark-text">Respetuosos con otras ideas y opiniones</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h2 class="initron dark-text">Somos:</h2>
                            <h3 class="minitron dark-text">Siempre abiertos y curiosos por conocer otras culturas, tradiciones, y tecnologías</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h2 class="initron dark-text">Tenemos:</h2>
                            <h3 class="minitron dark-text">Un fuerte compromiso con los usuarios finales para incrementar su calidad de vida, y felicidad</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h2 class="initron dark-text">Tenemos:</h2>
                            <h3 class="minitron dark-text">Relaciones personales basadas en la confianza y el respeto</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h2 class="initron dark-text">Brindamos:</h2>
                            <h3 class="minitron dark-text">Soluciones éticas y de alta calidad</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h2 class="initron dark-text">Brindamos:</h2>
                            <h3 class="minitron dark-text">Espacios saludables y seguros para todos nuestros usuarios, y colaboradores</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-12 col-md-4">
                <img src="/assets/img/EquipoJunta.svg" alt="Jovenes programadores en una junta">
            </div>
        </div>
    </div>
    <div class="d-none d-lg-flex col-md-1 col-xl-2 col-lat no-gutters"></div>
</div>