<div class="main" id="nosotros"></div>
<div class="row bg-row row-flex d-flex row-black align-items-stretch">
    <div class="col-12">
        <h1 class=" text-left">
            ¡Conócenos!
        </h1>
        <p class="initron">
            Somos una empresa con alto sentido humano, queremos transmitirlo en las relaciones con nuestros clientes, y en nuestras soluciones con los usuarios finales de nuestros proyectos.
        </p>
    </div>
</div>
<div class="row row-flex d-flex row-black align-items-stretch">
    <div class="col-8 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg2">
                <h3 class="card-title">Inclusión Tecnológica</h3>
                <h5 class="card-text text-center">Tenemos como misión crear productos de software de la más alta calidad, que sean accesibles para las personas y empresas. Nos enfocamos en los grupos comúnmente desatendidos y carentes de soluciones tecnológicas.</h5>
            </div>
        </div>
    </div>
    <div class="col-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg2">
                <h1 class="card-title">MISIÓN</h1>
            </div>
        </div>
    </div>
</div>
<div class="row row-flex d-flex row-black align-items-stretch">
    <div class="col-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg4">
                <h1 class="card-title">VISIÓN</h1>
            </div>
        </div>
    </div>
    <div class="col-8 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg4">
                <h3 class="card-title">Informática De Alto Impacto</h3>
                <h5 class="card-text text-center">Queremos lograr un ecosistema tecnológico incluyente para todas las personas. Creando servicios de alto impacto relacionados con la tecnología que liberen el potencial individual y social. Queremos desarrollar proyectos propios y para
                    terceros que mejoren la calidad de vida en todo América y el mundo.</h5>
            </div>
        </div>
    </div>
</div>
<div class="row row-flex d-flex row-black align-items-stretch">
    <div class="col-8 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg3">
                <ngb-carousel class="carousel-fade h-100">
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h1 class="text-center">Somos:</h1>
                            <h3 class="card-text text-center">Respetuosos con otras ideas y opiniones.</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h1 class="text-center">Somos:</h1>
                            <h3 class="card-text text-center">Siempre abiertos y curiosos por conocer otras culturas, tradiciones, y tecnologías.</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg">
                            <h1 class="text-center">Tenemos:</h1>
                            <h3 class="card-text text-center">Un fuerte compromiso con los usuarios finales para incrementar su calidad de vida, y felicidad.</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h1 class="text-center">Tenemos:</h1>
                            <h3 class="card-text text-center">Relaciones personales basadas en la confianza y el respeto.</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h1 class="text-center">Brindamos:</h1>
                            <h3 class="card-text text-center">Soluciones éticas y de alta calidad.</h3>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="container-fluid transparent-bg ">
                            <h1 class="text-center">Brindamos:</h1>
                            <h3 class="card-text text-center">Espacios saludables y seguros para todos nuestros usuarios, y colaboradores.</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
    <div class="col-4 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay grad-bg3">
                <h1 class="card-title">VALORES</h1>
            </div>
        </div>
    </div>
</div>