* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #593196;
    --pink: #e83e8c;
    --red: #fc3939;
    --orange: #fd7e14;
    --yellow: #efa31d;
    --green: #13b955;
    --teal: #20c997;
    --cyan: #009cdc;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #00115E;
    --accent: #007621;
    --background: #27282C;
    --light-bg: #F4F4F4;
    --lighter-bg: #FAFAFA;
    --success: #13b955;
    --info: #009cdc;
    --warning: #efa31d;
    --danger: #fc3939;
    --light: #f9f8fc;
    --dark: #17141f;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Merriweather Sans", Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.col-main {
    min-width: 400;
    width: 100%;
    max-width: 1780px;
}

.col-lat {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.page {
    align-items: center;
    position: relative;
    max-width: 1780px;
    margin-left: 0;
    margin-right: 0;
}

.haikode {
    color: var(--white);
    font-family: "Amaranth";
    font-weight: 800;
    font-size: xx-large;
}

header {
    text-rendering: optimizeLegibility;
    left: 0px;
    right: 0px;
    top: 0;
    width: auto;
    overflow: hidden;
    color: var(--gray);
    background-color: var(--background);
    background: fixed;
}

.row-light {
    background-color: var(--light-bg);
    color: var(--background);
    min-height: 286px;
    height: fit-content;
    padding-top: 1.61%;
    padding-bottom: 1.61%;
    padding-left: 6.85%;
    padding-right: 6.85%;
    align-items: center;
    justify-content: center;
}

.row-dark {
    background-color: var(--background);
    color: var(--light-bg);
    min-height: 286px;
    height: fit-content;
    padding-top: 1.61%;
    padding-bottom: 1.61%;
    padding-left: 6.85%;
    padding-right: 6.85%;
    align-items: center;
    justify-content: center;
}

.nav-ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    font-size: larger;
}

.boton-light {
    text-align: right;
    color: --gray;
    width: fit-content;
    margin-bottom: 16px;
}

.navbar {
    background-color: var(--background);
    color: var(--gray);
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
    margin-left: -10px;
    margin-right: 0px;
}

header.text:hover {
    color: var(--white);
}

body {
    text-rendering: optimizeLegibility;
    padding-top: 35px;
    font-family: var(--font-family-sans-serif);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-bg);
    text-align: left;
    background-color: var(--background);
    min-height: 77.5vh;
    min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amaranth";
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

button {
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    text-align: center;
    align-items: center;
    align-content: center;
}

img {
    max-width: 208;
    max-height: 440;
    width: 100%;
}

.fa {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--lighter-bg);
}

.fa-btn {
    align-self: center;
}

.fa-dark {
    font-size: 100%;
    width: 35px;
    text-align: center;
    text-decoration: none;
    color: var(--gray);
}

.footer {
    bottom: 0;
    width: 100%;
    min-height: 4.23%;
    bottom: 0px;
    clear: both;
    padding-top: 2.61%;
    padding-bottom: 1.61%;
    background-color: var(--background);
    color: var(--gray);
    font-weight: 200;
    font-family: var(--font-family-sans-serif);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.dark-text {
    color: var(--background) !important;
}

.transparent-bg {
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
}

.animated-bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: none !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hero {
    padding-top: 36px;
    padding-bottom: 36px;
}

.hero-top {
    padding-top: 36px;
}

.hero-bottom {
    padding-bottom: 36px;
}

.minitron {
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: 800;
    font-family: var(--font-family-sans-serif);
    color: var(--light-bg);
}

.initron {
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 300;
    font-family: var(--font-family-sans-serif);
    color: var(--light-bg);
}

.carousel {
    outline: none;
    border: none;
    display: flex !important;
    margin-top: 36px;
    min-height: 36px;
    max-height: 152.48px;
}

.carousel-item {
    transition: opacity ease-in-out 1s;
    display: flex !important;
    opacity: 0;
    outline: none;
    transition-delay: 4s;
}

.carousel-item.active {
    opacity: 1 !important;
    display: flex !important;
    outline: none;
    transition-delay: 0s !important;
}