<div class="main" id="contacto"></div>
<div class="row bg-row row-flex d-flex row-black align-items-stretch">
    <div class="col-12">
        <h1 class=" text-left">
            ¡Ponte en contacto con nosotros!
        </h1>
        <p class="initron">
            ¿Tienes un proyecto? ¿Quieres trabajar con nosotros? ¿Decir hola?
        </p>
    </div>
</div>
<div class="row row-flex d-flex row-black align-items-stretch">
    <div class="col-12 card-col">
        <div class="card border-dark">
            <div class="card-img-overlay bg1">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-1" src="/assets/img/Mail.png" alt="Logo de un correo electrónico.">
                    </div>
                    <div class="col-12 col-md-8">
                        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)" encType="multipart/form-data">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="fullname">Nombre *</label>
                                        <input type="text" class="form-control" name="Fullname" placeholder="Nombre de contacto." formControlName="Fullname" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Email">Email *</label>
                                        <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Correo electrónico." formControlName="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Company">Compañía</label>
                                        <input type="text" class="form-control" name="Company" placeholder="Nombre de tu empresa o negocio." formControlName="Company" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Position">Posición</label>
                                        <input type="text" class="form-control" name="Position" placeholder="Cargo que tienes en tu empresa o negocio." formControlName="Position" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Country">Ubicación</label>
                                        <input type="text" class="form-control" name="Country" placeholder="¿En donde te encuentras?" formControlName="Country" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Country">Archivo Adjunto</label>
                                        <input type="file" class="form-control absolute-center" name="File" formControlName="File" id="file" placeholder="" (change)="handleFileInput($event.target.files)">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment">Mensaje *</label>
                                <textarea class="form-control" formControlName="Comment" name="Comment"></textarea>
                                <small id="helper" class="form-text text-muted">* Campos obligatorios.</small>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>